
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');
/* app.js css */
.pageContent {
    background-color: #526582;
}

/* ----------------- */
/* nav bar styling */
.navbody {
    background-color: #0C151C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navTitle {
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700; /* bold */
    font-size: 40px;
    margin-left: 20px;
}
/* nav button! */
.navButton {
    background-color: transparent;
    color: #BFCC94;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 25px;
}
.navButton:hover {
    color:#FFFFFF;
}
.navButton:active {
    color: #BFCC94;
}

/* ----------------- */
/* home page styling */
.homePage {
    padding-top: 150px; /* ensures that homepage content loads after nav */
    margin-left: 40px;
    margin-right: 40px;
}
.homeh1 {
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    font-size: 40px;
}
.homeh2 {
    color: #0C151C;
    font-family: 'Source Serif Pro', serif;
    font-weight: 800;
    font-size: 40px;
}
